<%- include('../includes/boilerplate.ejs') %>
<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="/css_files/auth.css">

<br><br><br>

<main class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="bg-custom-blue p-4 rounded">
            <div class="center-div">

                <form class="login-form" action="/new-password" method="POST">
                    <div class="mb-3">
                        <label for="password" class="form-label custom-label">New Password</label>
                        <input type="password" name="password" id="password" class="form-control custom-input">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="passwordToken" value="<%=passwordToken %>">
                    <input type="hidden" name="userId" value="<%=userId %>">
                    <button class="btn btn-primary" type="submit">Set password</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</main>
