<%- include('../includes/boilerplate.ejs') %>
<%- include('../includes/navbar.ejs') %>
<br><br><br>

<% if(recipe_arr.length == 0){ %>
  <h2 style="text-align: center;">No recipes present !</h2>
<% } %>

<div class="container-fluid">
  <% for(let i = 0; i < recipe_arr.length; i+=3){ %>
    <div class="row justify-content-center">
      <% for(let j = i; j < i+3 && j < recipe_arr.length; j++) { %>
        <div class="col-lg-4 col-md-6 mb-3"> <!-- Adjusted column sizing -->
          <div class="card mx-3 my-3" style="width: 21rem; height: 11rem; background-image: url('<%= recipe_arr[j].imageUrl %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="card-body my-filter">
              <a href="/details/<%= recipe_arr[j].id %>">
                <h5 class="card-title text-white"><%= recipe_arr[j].title %></h5>
              </a>
              <p class="card-text text-white"> ⏱️ <%= recipe_arr[j].time_req %> hours</p>

              <p class="card-text text-white text-end" style="text-align: right;">-> By <%= recipe_arr[j].madeBy %></p>

              <% if(!favourites){ %>
              <form action="/favourite-recipe" method="post">
                <input type="hidden" name="recipeId" value="<%= recipe_arr[j].id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  
                <% 
                const fav = my_fav;
                let flag = 0;
                %>
                <% for (let i = 0; i < fav.length; i++) {
                  if (fav[i].id === recipe_arr[j].id) { 
                    flag = 1 ;
                                                            %>
                    <h5>❤️</h5>
                 <% } } %>

                <% if(flag == 0){ %>
                <button class="heart-button" type="submit">
                  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.27 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.97 3.81 12 5.13C13.03 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.27 18.6 15.36 13.45 20.03L12 21.35Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                <%} %>

              </form>
              <% }else{ %>
                <form action="/remove-from-favourites" method="post">
                  <input type="hidden" name="recipeId" value="<%= recipe_arr[j].id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button  class="btn btn-sm btn-danger text-end" style="text-align: right !important;" type="submit">Remove</button>
                </form>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
</div>
